services:
  justsocial-backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: justsocial-backend
    restart: unless-stopped

    ports:
      - "5001:5001"

    env_file:
      - .env
    environment:
      NODE_ENV: production
      PORT: 5001

    
